@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@800&display=swap');




/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}




body {
    color: #fff;
    background-color: #1c1c1c;
    display: flex;

    
}

.container {
    width: 550px;
height: 600px;
padding: 118px 52px 46px 52px;
background: #1F2937;
margin: auto;
font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 400;
}

.top-section {
    padding-bottom: 35px;
    border-bottom: 1px solid #2F3E53;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */
    letter-spacing: -0.025em;
}

h1 > span {
    color: #4adf86;
    display: block;
}

.description {
    margin-bottom: 51px;
}

.btn-ps {
    padding: 9px 17px;
    border-radius: 6px;
    background: #10B981;
    color: inherit;
    border: none;
}

svg {
    height: 18px;
    width: auto;
    margin-right: 15px;
    fill: #fff;
}

.passwords-containers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 35px;

}

.password-container {
    text-align: center;
    background: #273549;
    border-radius: 6px;
    width: 211px;
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.password-container  p {
    font-size: 20px;
    line-height: 10px;
    color:#202B3C;
    font-weight: 900;
    font-family: 'Karla', sans-serif;

}

input {
  color: #4adf86;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
  width: 50px;
  text-align: center;
}

input.password-el {
  width: 195px;
  border-bottom: none;
  font-size: 20px;
    margin-top: 7px;
    font-weight: 900;
    font-family: 'Karla', sans-serif;
    color:#202B3C
}

.password {
  display: flex;
}

#copy1 {
  display: none;
  -webkit-appearance: none;
  background-color: transparent;
  color: #4adf86;
  font-size: 15px;
  border: none;
  position: relative;
  right: 16px;
  opacity: 0;
  transition: opacity .5s;
  width: 100%;
}

.password:hover #copy1 {
  opacity: 1;
}
#copy2 {
  display: none;
  -webkit-appearance: none;
  background-color: transparent;
  color: #4adf86;
  font-size: 15px;
  border: none;
  position: relative;
  right: 16px;
  opacity: 0;
  transition: opacity .5s;
  width: 100%;
}

.password:hover #copy2 {
  opacity: 1;
}
#copy3 {
  display: none;
  -webkit-appearance: none;
  background-color: transparent;
  color: #4adf86;
  font-size: 15px;
  border: none;
  position: relative;
  right: 16px;
  opacity: 0;
  transition: opacity .5s;
  width: 100%;
}

.password:hover #copy3 {
  opacity: 1;
}
#copy4 {
  display: none;
  -webkit-appearance: none;
  background-color: transparent;
  color: #4adf86;
  font-size: 15px;
  border: none;
  position: relative;
  right: 16px;
  opacity: 0;
  transition: opacity .5s;
  width: 100%;
}

.password:hover #copy4 {
  opacity: 1;
}

#copy1, #copy2, #copy3, #copy4 {
  cursor: pointer;
}